*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Reset some default styles */
body,
h2,
h4 {
    margin: 0;
    padding: 0;
}

/* Apply styles to the container */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Style the search input */
#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style the results container */
#results-container {
    margin-top: 20px;
    text-align: left;
}

/* Style the user information */
h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

h4 {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}
 