/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .enter-amount-lbl {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .amount {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .from-to {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .from,
  .to {
    font-size: 16px;
    margin-right: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .convert-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .response {
    padding: 10px;
    font-size: 16px;
   
  }