@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif ;

}

body{
    width: 100%;
    height: 100%;
    padding: 1rem ;
    background-color: #fefefe;
    margin-bottom: 6rem;
}
h1{
    font-size: 1.5rem;
    
}
h2{
    font-size: 1.25rem;
    
}
h4{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 400;
    color: rgb(139, 139, 139);
}
input{
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid darkgray;
    padding: 0.5rem 0.5rem;
margin-bottom: 1.5rem;
}
h3{
    height: 88px;
}
a{
    color: black;
}
.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.recipe-holder{
    width: 176px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin-top: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;

}
.recipe-info{
    margin-top: 0.5rem;
}
.recipe-image{
    border-radius: 0.75rem;
    width: 100%;
}
.nav-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    z-index: 999;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;
    left: 0;
}
.recipe-holder:hover{
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}
.hide{
    display: none;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.banner{
    position: relative;
    border-radius: 0.5px;
    margin-bottom: 1.5rem;
    width: 100%;
}
.banner img{
    border-radius: 8px;
    width: 100%;
}
.banner-text{
    position: absolute;
    top: 4rem;
    left: 1rem;
}
.banner-text h1 {
    color: white;
    

}
.banner-text h4 {
    margin-bottom: 1rem;
    color: white;
}
.banner-text button{
    background-color: #ff5733;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    color: white;
    border: none;
}
.add-to-favorites{
    width: 1.5rem;
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
}
.add-to-favorites-filled{
    background-color: #ff5733;
}
.favourites-container{
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    gap: 1.5rem;
}
.favorite-box{
    width: 100%;
    height: 120px;
    border-radius:1rem;
    background-color: #ffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
}
.favorite-box img{
    width: 120px;
    border-radius: 0.75rem;
}
.favorite-title{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}


#popUp{
    z-index: 999;
    width: 328px;
    height: 328px;
    position: absolute;
    border-radius: 1rem;
    left: 50%;
    top: 9%;
    background-color: #ffff;
    transform: translate(-50%, 50%);
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#popUp button{
    background-color: #ff5733;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    color: white;
    border: none;
    width: 100%;
}
#popUp h2{
    font-size: 2.25rem;
    font-weight: bolder;
    font-family: '';
}
#overlay{
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.6;
    left: 0;
}
#closePopUp{
    position: absolute;
    z-index: 9999;
    right: 0.5rem;
    top: 0.5rem;
}
.show{
    display: block;
}
.hide{
    display: none;
}